.banner {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  .banner-center {
    width: var(--width-center);
    height: 100%;
    border-radius: 16px;
    .banner-center-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
