.options{
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    .options-part{
        width: 220px;
        height:100% ;
        .options-link{
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            .options-img{
                width: 56px;
                height: 56px;
                object-fit: cover;
            }
            .options-text{
                font-family: var(--font-family);
                font-size: 12px;
                color: rgb(62, 62, 62);
                font-weight: normal;
            }
        }
    }
}